body, html{
    padding: 0;
    margin: 0;
}
body{
    transition: 1s; 
    background:  #F0F0F0;
}
.content{
    max-width: 1060px;
    position: relative;
    display: flex;
    opacity: 1;
    width: 100%;
    height:100%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}
.block1{ 
    width: 70%;
    margin-right: 5px;
    height: auto;
    min-height: 1000px;
}
.block2{
    width: 25%;
    margin-left: 10px;
    height: auto;
}
.minBlock1{
    padding: 10px;
    height: auto;
    background: #fff;  
}

.minBlock1Content{
    display: flex;
    flex-direction: row;
    height: auto;
    background: #fff;  
}
.minBlock2Content{
    background: #fff;  
    margin-top: 15px;
    height: auto;
    min-height: 850px;
}

/* min1block */
.imgContentBl{
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.minContentBl{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.numberCheck{
    flex-direction: column;
}
.imgContentBlContents1{
    display: flex;
    flex-direction: row;
}
.checkPro{
    font-family: "Fira Sans", sans-serif;
    margin-top: 20px;
    padding: 8px 15px 8px 15px;
    border: 1px solid #7AA600;
    font-size: 12px;
    color: #7AA600;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.checkPro:hover{
    transition: all 0.3s;
    background: #7AA600;
    color: #fff;
}
.numberCheck{
    margin-left: 15px;
}
.numberTitle{
    color: #C23D96;
    margin: 0;
    padding-top: -5px;
    padding-bottom: 6px;
}
.numberText{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    color: #6F7577;
    font-weight: 400;
}
.numberTitle2{
    cursor: pointer;
    color: #333333;
    margin: 0;
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 10px;
    transition: all 0.3s;
}
.numberTitle2:hover{
    transition: all 0.3s;
    color: #6667A3;
}
.numberText2{
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    padding-bottom: 5px;
}
/* #6F7577 */
.blockCreateElement{
    display: flex;
    flex-direction: column;
}
/* block2 */
.products_titleAndCreate{
    padding: 10px;
}
.titleAndCreateT1{
    cursor:default;
    font-size: 24px;
    color: #333333;
    font-family: "Fira Sans", sans-serif;
}
.titleAndCreateT2{
    cursor: default;
    margin-top: -10px;
    font-size: 20px;
    color: #6F7577;
    font-family: "Fira Sans", sans-serif;
}
.titleAndCreateT3{
    cursor: default;
    font-size: 12px;
    width: 74px;
    padding: 5px;
    border: 1px solid #6667A3;
    border-radius: 5px;
    color: #6667A3;
    font-family: "Fira Sans", sans-serif;
}
.titleAndCreateT4{
    cursor: default;
    font-size: 14px;
    color: #6667A3;
    background: #F7F7F7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    font-family: "Fira Sans", sans-serif;
}
.titlesAndCreat{
    margin-top: -5px;
    font-size: 13px;
    color: #6F7577;
    font-family: "Fira Sans", sans-serif;
    font-weight: normal;
}
/* create bloks */
.titles{
    border-bottom: 1px solid #333333;
    padding-bottom: 20px;
    font-family: "Fira Sans", sans-serif;
    color: #333333;
    text-align: center;
}
.blockCreateElement{
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
}
.inputTitle{
    width: 90%;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
    color: #333333;
    cursor: pointer;
}
.btnCreate{
    padding: 3px;
    width: 10%;
    cursor: pointer;
    border: 1px solid #3484f4;
    font-family: "Fira Sans", sans-serif;
    color: #3484f4;
    font-size: 15px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s;
}
.btnCreate:focus{
    color: #fff;
    background: #3484f4;
}
.btnCreate:hover{
    transition: all 0.3s;
    color: #fff;
    background: #3484f4;
}
.createContent{
    padding-top: 10px;
    border-top: none;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}
/* create content */
.createContent{
    padding-top: 10px;
    border-top: none;
    border-left: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
}
.blocksCreat{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: -3px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #333333;
}
.createText{
    width: 95%;
    font-size: 13px;
    font-family: "Fira Sans", sans-serif;
    color: #333333;
}
.clearContent{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    color: rgba(255, 35, 35, 0.639);
}
.clearContent:hover{
    transition: 0.3s;
    color: rgb(255, 35, 35);
}
.clearText{
    padding: 5px;
    font-size: 17px;
    color: #7AA600;
    text-align: center;
    font-weight: 400;
    display: none;
    background: #484848;
    font-family: "Fira Sans", sans-serif;
}
/* block3 */
.minBl1{
    padding-top: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.minBl1Titles{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #333333;
}
.minBl1Text{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #333333;
}
.minTitles{
    font-size: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #6F7577;
    color: #6F7577;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}
@media(max-width:1030px) {
    .titleAndCreateT2{
        font-size: 18px;
    }
    .checkPro{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media(max-width:900px) {
    .minBl1Text{
        font-size: 12px;
    }
    .minBl1Titles{
        font-size: 12px;
    }
}
@media(max-width:768px){
    .block2{
        display: none;
    }
    .block1{
        margin-right: 0px;
        width: 95%;
    }
}
@media(max-width:400px){
    .btnCreate{
        max-width: 40px;
        width: 100%;
        padding: 3px 5px 3px 3px;
    }
}